html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    background-color: rgb(244, 243, 243);
    font-family: "Raleway", "sans-serif";
    overflow-x: hidden;
}

.all {
    display: flex;
    justify-content: space-between;
}

/* *:focus {
    outline: none;
}

.main {
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
} */

/* SIDEBAR ON THE LEFT SIDE */

.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 96vh;
    width: 225px;
    border-right: 1px solid rgba(81, 65, 65, 0.3);
}

.left-sidebar-top {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.logo {
    height: 32px;
    width: 104px;
    padding: 24px 12px;
    cursor: pointer;
}

.left-sidebar-top a img {
    height: 24px;
    padding-right: 16px;
}

.left-sidebar-top a {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 4px 0px;
    color: black;
    text-decoration: none;
}

.left-sidebar-top a:hover {
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
}

.left-sidebar-bottom {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.left-sidebar-bottom a {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 4px 0px;
    color: black;
    text-decoration: none;
}

.left-sidebar-bottom a:hover {
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
}

.left-sidebar-bottom a img {
    height: 24px;
    padding-right: 16px;
}

/* MAIN CONTAINER AND SUGGESTIONS ON THE RIGHT SIDE */

.main-and-right {
    display: flex;
}

.suggestion {
    display: flex;
    justify-content: flex-end;
}