html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    background-color: rgb(249, 249, 249);
    font-family: "Raleway", "sans-serif";
    overflow-x: hidden;
}

.all {
    display: flex;
    justify-content: space-between;
}

/* *:focus {
    outline: none;
}

.main {
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
} */

/* SIDEBAR ON THE LEFT SIDE */

.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 96vh;
    width: 225px;
    border-right: 1px solid rgba(81, 65, 65, 0.3);
}

.left-sidebar-top {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.logo {
    height: 32px;
    width: 104px;
    padding: 24px 12px;
    cursor: pointer;
}

.left-sidebar-top a img {
    height: 24px;
    padding-right: 16px;
}

.left-sidebar-top a {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 4px 0px;
    color: black;
    text-decoration: none;
}

.left-sidebar-top a:hover {
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
}

.left-sidebar-bottom {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.left-sidebar-bottom a {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 4px 0px;
    color: black;
    text-decoration: none;
}

.left-sidebar-bottom a:hover {
    background-color: rgb(217, 217, 217);
    border-radius: 8px;
}

.left-sidebar-bottom a img {
    height: 24px;
    padding-right: 16px;
}

/* MAIN CONTAINER AND SUGGESTIONS ON THE RIGHT SIDE */

.main-and-right {
    display: flex;
    justify-content: space-evenly;
    padding: 22px 0px 40px 40px;
}

.suggestions {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 24px 80px;
    margin-top: 8px;
    font-size: 14px;
    gap: 40px;
}

.suggestions img {
    height: 24px;
    display: flex;
    margin-right: 8px;
    border-radius: 150px;
    background: #e0e0e0;
    box-shadow: -3px -3px 30px #afafaf,
            3px 3px 30px #ffffff;    
}

.suggestions a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.suggestions-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.follow {
    color: #0095F6 !important;
}

.follow:hover {
    color: #000000 !important;
}

.suggestions-centered-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    padding: 40px;
    margin: 16px;

}

.author-area {
    display: flex;
    align-items: center;
    padding: 0px 0px 12px 4px;
    gap: 16px
}

.author-img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.author {
    font-size: 14px;
}

.post-img {
    height: 468px;
    width: 468px;
    object-fit: cover;
}

.comment-box {
    display: flex;
    justify-content: space-between;
}

.input-comment {
    background-color: rgb(249, 249, 249);
    border: none;
}

.button-comment {
    background-color: rgb(249, 249, 249);
    color: #0095F6;
    border: 0px solid #0095F6;
    cursor: pointer;
}

